{% extends 'base.html.twig' %}
 {% block title %} Show page {% endblock %}
{% block body %}
    <section class="home">
        <div class="container">
            <h1>Show page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, perspiciatis.</p>
        </div>
    </section>
{% endblock %}